* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg-juninho.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 1800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-esquerda {
  margin-left: 60px;
  max-width: 1000px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 44px;
  color: white;
  max-width: 570px;
}

@keyframes grow-glow {
  0%,
  100% {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(225, 183, 29, 0.5);
  }
  50% {
    transform: scale(1.12);
    box-shadow: 0 0 30px rgba(225, 183, 29, 1);
  }
}

a {
  display: inline-block;
  padding: 24px 60px;
  color: black;
  background-color: #e1b71d;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  animation: grow-glow 1.5s infinite ease-in-out;
  cursor: pointer;
}

.hero-direita {
  display: flex;
  justify-content: center;
  align-items: end;
}
